{% extends 'theme.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{% static '/css/Resume.css' %}">
{% endblock head %}

{% block title %}
{% endblock title %}

{% block background %}
<img src="{% static 'images/estes_park.jpg' %}" alt="Twilight Mountain Lake" title="Credit: Joel LeFevre" class="desktop-only background-pic">
<img src="{% static 'images/library_tree.jpg' %}" alt="Tree Viewed From Library" title="Credit: Joel LeFevre" class="mobile-only background-pic">
{% endblock background %}

{% block content %}
<div id="myCarousel" class="carousel slide ms-6" data-bs-ride="carousel" data-bs-interval="25000">
  <div class="carousel-indicators button-container">
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"><div class="button-text">About</div></button>
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"><div class="button-text">Contact</div></button>   
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"><div class="button-text">Education</div></button>
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="3" aria-label="Slide 4"><div class="button-text">Expertise</div></button>
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="4" aria-label="Slide 5"><div class="button-text">Experience</div></button>
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="5" aria-label="Slide 6"><div class="button-text">Projects</div></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="container">
        <div class="carousel-caption text-start nav-tab">
          <h1>About</h1>
          <img src="https://avatars.githubusercontent.com/u/99217494?v=4&size=230" alt="Profile Picture" class="profile-picture">
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="container">
        <div class="carousel-caption text-start">
          <h1>Contact Info</h1>
          <p class="contact">Please direct all inquiries to my email <a href="mailto:jlefevre559+inquiry@gmail.com">jlefevre559+inquiry@gmail.com</a></p>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="container">
        <div class="carousel-caption">
          <h1>Education</h1>
          <table class="ed-table">
            <thead>
              <th>Graduation date</th>
              <th>Institution</th>
              <th>Degree</th>
              <th>GPA</th>
            </thead>
            <tr>
              <td>Expected May 2025</td>
              <td>University of Northern Colorado</td>
              <td>Bachelor of Science in Software Engineering</td>
              <td>Current: 3.99</td>
            </tr>
            <tr>
              <td>2015</td>
              <td>Goal Academy High School</td>
              <td>High School Diploma</td>
              <td>3.24</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="container">
        <div class="carousel-caption text-end">
          <h1>Technical Expertise</h1>
          <ul>
            <li><strong>Frameworks:</strong> React.JS, Django</li>
            <li><strong>Package Managers:</strong> pip, npm</li>
            <li><strong>Languages:</strong> C#, Python, Java, Javascript, HTML, CSS, SQL, C++</li>
            <li><strong>Databases:</strong> MongoDB</li>
            <li><strong>Hosting Services:</strong> Vercel Serverless, DigitalOcean</li>
            <li><strong>Version Control:</strong> Git, Github</li>
            <li><strong>Software:</strong> IDLE, Unity, Unreal Engine 5, Microsoft Office Suite, Visual Studio, Visual Studio Code, MongoDB Compass, Jira, Figma, Draw.io, Google Drive, Outlook, Zoom, Teams, Discord</li>
            <li><strong>Hardware:</strong> Wifi, Personal Computer Hardware</li>
            <li><strong>Machinery:</strong> Printers, 3D printers</li>
            <li><strong>AI Dev Tools:</strong> ChatGPT, Github Copilot, Claude, Llama, Dall-E</li>
            <li><strong>APIs:</strong> Discord, OpenAI, Spotify, YFinance, Google Translate</li>
          </ul>                        
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="container">
        <div class="carousel-caption text-end">
          <h1>Experience</h1>
          <table class="exp-table" border="1">
            <thead>
              <tr>
                <th>Start Date - End Date/Present</th>
                <th>Job Title</th>
                <th>Location of Company</th>
                <th>Company</th>
                <th>Description</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>2024 – Present</td>
                <td>Software Consultant</td>
                <td>Red Lion, Pennsylvania</td>
                <td>Luna Gallery Home Decor</td>
                <td>
                  I consulted with Luna Gallery Designs and helped them optimize their current software systems for use with the large increase in data AI has given to their business. In the short term, I was able to help them increase the efficiency of preparing large numbers of generated images from ~8 hours per week down to 10 minutes. In the long term, I am in talks with them to design software to help resolve further inefficiencies.
                </td>
              </tr>
              <tr>
                <td>2019 – 2021</td>
                <td>Theatre Crew</td>
                <td>Brighton, Colorado</td>
                <td>AMC Theatres</td>
                <td>
                  At this job, I learned how to function efficiently within a team and allocate available resources to make the theatre run more reliably and effectively.
                </td>
              </tr>
            </tbody>
          </table>                        
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="container">
        <div class="carousel-caption text-end">
          <h1>Projects</h1>
          <ul>
            <li>
              <strong>Project:</strong>Clipboard <a href="">(Github)</a>
              <p>
                I am a member of a dynamic four-person team working on the development of an innovative website aimed at simplifying project and task management, as well as fostering collaboration among users. Our project, named 'Clipboard,' embodies the essence of software engineering principles as we build this platform from the ground up.

In this collaborative effort, my role has involved designing our database structure, setting up our hosting service to have automated deployment and testing, coding features on the website, and creating tests as we code to push along our test-driven development. Team communication and regular progress updates have been crucial to our success, and we maintain a transparent workflow through bi-weekly reports posted on our GitHub repository.

Technologically, we have leveraged Django, JavaScript, MongoDB, and Vercel to bring our vision to life. Our in-progress project is accessible at https://clipboard-unco-cs350.vercel.app/, and the entire source code is available on GitHub at https://github.com/JLeFevre559/CS350-Clipboard.

This experience has allowed me to apply my technical skills and work effectively within a team, making significant contributions to a real-world software project.

              </p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

{% endblock content %}