{% extends 'theme.html' %}

{% load static %}

{% block title %}
{% endblock title %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static '/css/index.css' %}">
{% endblock head %}

{% block background %}
<img src="{% static 'images/solar_eclipse.jpg' %}" alt="Partial Solar Eclipse" title="Credit: Joel LeFevre" class="desktop-only background-pic">
<img src="{% static 'images/library_tree.jpg' %}" alt="Tree Viewed From Library" title="Credit: Joel LeFevre" class="mobile-only background-pic">
{% endblock background %}

{% block content %}
<div class="welcome-block">
  <h1><span class="letters-J">J</span>o<span class="letters-Fe">el</span> Le<span class="letters-Fe">F</span>evre</h1>
  <h2>Software Engineer</h2>
  <a href="/resume/">View Resume</a>
</div>
{% endblock content %}