@media only screen and (max-width: 600px) {
    /* Styles specific to mobile devices */
    *{
        height: fit-content;
    }
    body {
        background-color: var(--background-color-light);
        color: var(--font-color-light);
        font-size: 14px;
        height: 100vh;
        min-height: fit-content;
    }
    .body-wrapper {
        padding: 0;
        margin: 0;
    }
    .content {
        padding: 10px;
    }

    .background-pic{
        width:100vw;
        height:unset;
        min-height: 100vh;
    }
    .hamburger-menu {
        appearance: none;
        font-size: 0;
        width: 14vw;
        height: 7vh;
        border: 0;
        background: transparent;
        border: 0;
        cursor: pointer;
        
        span {
          display: block;
          width: 60%;
          height: 2px;
          background: #000;
          margin-bottom: 5px;
          margin-left: auto;
          margin-right: auto;
          border: .3px solid white;
          &:last-child {
            margin-bottom: 0;
          }
        }
    }
    .navbar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0;
        margin: 0;
    }
    .navbar-box{
        position:absolute;
        bottom:0;
    }
    .footer{
        display:none;
    }
    .carousel{
        padding:0%;
    }
    .carousel-indicators button {
        color: transparent;
    }
    .carousel-indicators button.active{
        color: var(--text-heading-color-light);
    }
    .carousel-inner .carousel-item {
        transition: -webkit-transform .3s ease;
        transition: transform .3s ease;
        transition: transform .3s ease, -webkit-transform .3s ease;
        height: fit-content;
        position: absolute;
        left: 0;
    }
    #myCarousel {
        padding: 1em;
    }
    .carousel-indicators {
        position:relative;
        margin:auto;
        width:50vw;
    }
    .carousel-indicators [data-bs-target] {
        text-indent: unset;
        color: transparent;
        width:1.2em;
    }
    .carousel-caption {
        background-color: var(--background-color-light);
        box-shadow: 0px 0px 10px 5px black;
    }
    .carousel-caption h1{
        display: none;
        color: var(--text-heading-color-light);
    }
    .button-text {
        position: absolute;
        left: 10%;
        right: 10%;
        font-size: 1.5em;
    }
    ul, li, table {
        font-size: .8em;
    }
    p{
        font-size: 1em;
    }
    table, thead, tbody, th, td, tr {
        display: block;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
    }
    tr:nth-child(odd) {
    background: transparent;
    }
    td {
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid var(--border-color);
    position: relative;
    padding-left: 50%;
    }
    td:before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 0;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
    }
    /* table customizations specific to education table */
    .ed-table td:nth-of-type(1):before {
    content: "Graduation Date";
    }
    .ed-table td:nth-of-type(2):before {
    content: "Institution";
    }
    .ed-table td:nth-of-type(3):before {
    content: "Degree";
    }
    .ed-table td:nth-of-type(4):before {
    content: "GPA";
    }
    .ed-table td:nth-of-type(4){
        border-bottom: 2px solid black;
        margin-bottom: 10px;
    }

    /* table customizations specific to experience table */
    .exp-table td:nth-of-type(1):before {
    content: "Start-End Date";
    }
    .exp-table td:nth-of-type(2):before {
    content: "Title";
    }
    .exp-table td:nth-of-type(3):before {
    content: "Location";
    }
    .exp-table td:nth-of-type(4):before {
    content: "Company";
    }
    .exp-table td:nth-of-type(5):before {
        content: "Description";
    }
    .exp-table td:nth-of-type(4){
        border-bottom: 2px solid black;
        margin-bottom: 10px;
    }

    /*set carousel controls to be on screen, important to remove horizontal scrolling */
    .carousel-control-next {
        right: 0;
        position: absolute;
    }
    .carousel-control-prev {
        left: 0;
        position: absolute;
    }

    .carousel-control-next, .carousel-control-prev {
        top:1.26vh;
    }

    .carousel-inner {
        height: max-content;
        height: 80vh;
        min-height: fit-content;
        display:flex;
        flex-direction: column;
        justify-content: center;
    }
    .carousel-caption > p{
        text-align: center;
    }
    /* Hide desktop only elements, show mobile only elements */
    .desktop-only{
        display: none;
    }
    .mobile-only{
        display: flex;
    }
    p, ul, li, table{
        -webkit-text-stroke-width: 0;
        -webkit-text-stroke-color: var(--stroke-color-light);
      }
    a{
        -webkit-text-stroke-width: 0;
        -webkit-text-stroke-color: var(--link-stroke-color-light);
    }
    h2, h3, h4, h5, h6, p, ul, li, table{
        color: var(--font-color-light);
    }
}