:root{
  --main-color: rgb(40,40,40);
  --main-color-light: rgb(214, 214, 214);
  --background-color: black;
  --background-color-light: rgb(255,255,255,0.7);
  --secondary-color: rgb(30, 37, 75);
  --secondary-color-light: rgb(71, 123, 219);
  --border-color: rgb(0, 31, 167);
  --border-radius: 0%;
  --text-heading-color: rgb(50,200,255);
  --text-heading-color-light: rgb(50,200,255);
  --font-color: white;
  --font-color-light: black;
  --stroke-color: black;
  --stroke-color-light: white;
  --link-stroke-color: rgb(0, 0, 0);
}
*{
  max-width: 100%;
}
body{
  background-color: var(--background-color);
  color: var(--font-color);
  font-family: 'Roboto', sans-serif;
  font-size: 1.2em;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
  z-index: -2;
}
.navbar{
  /* background-color: var(--main-color); */
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding: 0;
  /* border: 3px solid var(--border-color); */
}
.home-button{
  width: 15vh;
  padding: 2vh;
}
.home-button-container{
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  border: none;
}
.footer{
  /* background-color: var(--main-color); */
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding: 1em;
  /* border: 3px solid var(--border-color); */
  position:absolute;
  bottom: 0;
  left: 0;
}
.body-wrapper{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
  /* background-color: var(--main-color);
  border: 3px solid var(--border-color); */
  margin: 1em;
}
#myCarousel{
  width:100%;
  align-items: center;
  justify-content: center;
  padding: 4em;
  position:relative;
  height: fit-content;
}

.carousel-inner{
  height:50vh;
  min-height: max-content;
  overflow: visible;
}
.carousel-caption{
  position:unset;
  padding:auto;
  text-align: center;
  align-items: center;
  justify-content: center;
  display:flex;
  flex-direction: column;
  height: 100%;
}
.carousel-item{
  height: 100%;
}
.carousel-caption h1{
  font-size: 2em;
  color: var(--text-heading-color);
  position: relative;
  top:-2em;
  
}
.carousel-caption ul{
  text-align: left;
}
.carousel-control-next {
  right: -1vw;
  position: absolute;
}
.carousel-control-prev {
  left: -1vw;
  position: absolute;
}
.button-container{
  justify-content: space-evenly;
}
.button-pair{
  display: flex;
  flex-direction: column;
  width: fit-content;
}
.container{
  height:100%;
}
.carousel-indicators [data-bs-target]{
  text-indent: unset;
  color: var(--text-heading-color);
}
.carousel-indicators button {
  display: flex;
  align-items: flex-start;
  align-content: center;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: flex-end;
}
img{
  border-radius: 50%;
}
.background-pic{
  display:flex;
  position:absolute;
  height:100vh;
  min-width:100vw;
  overflow: clip;
  z-index: -1;
  border-radius: 0%;
}
/* hide mobile only elements, show desktop only elements */
.desktop-only{
  display: flex;
}
.mobile-only{
  display: none;
}
p, ul, li, table{
  -webkit-text-stroke-width: .06em;
  -webkit-text-stroke-color: var(--stroke-color);
}
a{
  -webkit-text-stroke-width: .01em;
  -webkit-text-stroke-color: var(--link-stroke-color);
}
.hamburger-menu {
  appearance: none;
  font-size: 0;
  width: 7vw;
  height: 14vh;
  border: 0;
  background: transparent;
  border: 0;
  cursor: pointer;
  
  span {
    display: block;
    width: 60%;
    height: 2px;
    background: #000;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
    border: .3px solid white;
    &:last-child {
      margin-bottom: 0;
    }
  }
}